{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": ["**/*.test.jsx"],
  "rules": {
    "no-unused-vars": 0,
    "import/namespace": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": [1, { "custom": "ignore" }]
  }
}
